/Demo.LeeFrame/Common/Demo.Common.Redis/bin
/Demo.LeeFrame/Model/Demo.Model/bin
/Demo.LeeFrame/Service/Demo.Service.Interface/bin
/Demo.LeeFrame/Service/Demo.Service/bin
/Demo.LeeFrame/UI/Demo.Console/bin
/Demo.LeeFrame/Common/Demo.Common/bin
/Demo.LeeFrame/UI/Demo.WebMvc/bin
/Demo.LeeFrame/Common/Demo.Common.Mvc/bin
/Demo.LeeFrame/DataCenter/Demo.DataCenter.EF/obj
/Demo.LeeFrame/Model/Demo.Model/obj
/Demo.LeeFrame/Service/Demo.Service.Interface/obj
/Demo.LeeFrame/Service/Demo.Service/obj
/Demo.LeeFrame/UI/Demo.Console/obj
/Demo.LeeFrame/UI/Demo.WebMvc/obj
/Demo.LeeFrame/Common/Demo.Common/obj
/Demo.LeeFrame/Common/Demo.Common.Mvc/obj
/Demo.LeeFrame/Common/Demo.Common.Redis/obj
/Demo.LeeFrame/packages
/Demo.LeeFrame/.vs
/Demo.LeeFrame/UI/Demo.Mvc/bin
/Demo.LeeFrame/DataCenter/Demo.DataCenter.EF/bin
/Demo.LeeFrame/UI/Demo.Mvc/obj
/Demo.LeeFrame/Core/XK.WeiXin/bin
/Demo.LeeFrame/UI/WebApp.WeiXin/bin
/Demo.LeeFrame/UI/WebApp.WeiXin/obj/Release/Package/PackageTmp/bin
/Demo.LeeFrame/DataCenter/Demo.DataCenter.Dapper/bin
/Demo.LeeFrame/Service/Demo.Service.Dapper/bin
/Demo.LeeFrame/Repository/Demo.Repository/bin
/Demo.LeeFrame/Core/XK.WeiXin/obj
/Demo.LeeFrame/Repository/Demo.Repository/obj
/Demo.LeeFrame/DataCenter/Demo.DataCenter.Dapper/obj
/Demo.LeeFrame/Service/Demo.Service.Dapper/obj
/Demo.LeeFrame/UI/WebApp.WeiXin/obj
