/Demo.LeeFrame/Common/Demo.Common.Redis/bin
/Demo.LeeFrame/Model/Demo.Model/bin
/Demo.LeeFrame/Service/Demo.Service.Interface/bin
/Demo.LeeFrame/Service/Demo.Service/bin
/Demo.LeeFrame/UI/Demo.Console/bin
/Demo.LeeFrame/Common/Demo.Common/bin
/Demo.LeeFrame/UI/Demo.WebMvc/bin
/Demo.LeeFrame/Common/Demo.Common.Mvc/bin
/Demo.LeeFrame/DataCenter/Demo.DataCenter.EF/obj
/Demo.LeeFrame/Model/Demo.Model/obj
/Demo.LeeFrame/Service/Demo.Service.Interface/obj
/Demo.LeeFrame/Service/Demo.Service/obj
/Demo.LeeFrame/UI/Demo.Console/obj
/Demo.LeeFrame/UI/Demo.WebMvc/obj
/Demo.LeeFrame/Common/Demo.Common/obj
/Demo.LeeFrame/Common/Demo.Common.Mvc/obj
/Demo.LeeFrame/Common/Demo.Common.Redis/obj
/Demo.LeeFrame/packages
/Demo.LeeFrame/.vs
/Demo.LeeFrame/UI/Demo.Mvc/bin
/Demo.LeeFrame/DataCenter/Demo.DataCenter.EF/bin
/Demo.LeeFrame/UI/Demo.Mvc/obj
/Demo.LeeFrame/Core/XK.WeiXin/bin
/Demo.LeeFrame/UI/WebApp.WeiXin/bin
/Demo.LeeFrame/UI/WebApp.WeiXin/obj/Release/Package/PackageTmp/bin
/Demo.LeeFrame/DataCenter/Demo.DataCenter.Dapper/bin
/Demo.LeeFrame/Service/Demo.Service.Dapper/bin
/Demo.LeeFrame/Repository/Demo.Repository/bin
/Demo.LeeFrame/Core/XK.WeiXin/obj
/Demo.LeeFrame/Repository/Demo.Repository/obj
/Demo.LeeFrame/DataCenter/Demo.DataCenter.Dapper/obj
/Demo.LeeFrame/Service/Demo.Service.Dapper/obj
/Demo.LeeFrame/UI/WebApp.WeiXin/obj
/Demo.LeeFrame/Common/Demo.Common.Distributed.Session/bin/Debug
/Demo.LeeFrame/Common/Demo.Common.Distributed.Session/obj/Debug
/Demo.LeeFrame/Common/Demo.Common.Distributed.Session/bin/Release
/Demo.LeeFrame/Common/Demo.Common.Distributed.Session/obj/Release
/Demo.LeeFrame/Test/UnitTestProject1/bin
/Demo.LeeFrame/Test/UnitTestProject1/obj
/Demo.LeeFrame/UI/WebApplication1
/Demo.LeeFrame/WebApplication1.Tests
/Demo.LeeFrame/Windows/Service/ConsoleApp.Service.Demo/bin
/Demo.LeeFrame/Windows/Service/ConsoleApp.Service.Demo/obj
/Demo.LeeFrame/Windows/Service/ConsoleApp.Service.Demo.Publish/bin
/Demo.LeeFrame/Windows/Service/ConsoleApp.Service.Demo.Publish/obj
/Demo.LeeFrame/Windows/Service/WindowsService.Demo/bin
/Demo.LeeFrame/Windows/Service/WindowsService.Demo/obj
/Demo.LeeFrame/Windows/Tools/JYZX.NanJingEdu.FormServ/bin
/Demo.LeeFrame/Windows/Tools/JYZX.NanJingEdu.FormServ/obj
/Demo.LeeFrame/Test/UnitTestProject1
/Demo.LeeFrame/ConsoleApplication1/bin/Debug
/Demo.LeeFrame/ConsoleApplication1/obj/Debug
/Demo.LeeFrame/UI/WebApplication2
/Demo.LeeFrame/WebApplication1
/Demo.LeeFrame/ConsoleApp.SMS/bin/Debug
/Demo.LeeFrame/ConsoleApp.SMS/obj/Debug
/Demo.LeeFrame/ConsoleApplication1/obj/Release
/Demo.LeeFrame/Core/Demo.SMS/bin/Debug
/Demo.LeeFrame/Core/Demo.SMS/obj/Debug
/Demo.LeeFrame/Test/ConsoleApp.AliYun.SMS/bin/Debug
/Demo.LeeFrame/Test/ConsoleApp.JuHe.SMS/bin/Debug
/Demo.LeeFrame/Test/ConsoleApp.JuHe.SMS/obj/Debug
/Demo.LeeFrame/Test/MyFilms/bin/Debug
/Demo.LeeFrame/Test/MyFilms/obj/Debug
/Demo.LeeFrame/ConsoleApp.SMS/obj/Release
/Demo.LeeFrame/Test/ConsoleApp.AliYun.SMS/obj
/Demo.LeeFrame/Core/Demo.SMS/obj/Release
/Demo.LeeFrame/Test/ConsoleApp.JuHe.SMS/obj/Release
/Demo.LeeFrame/Test/MyFilms/obj/Release
/Demo.LeeFrame/Common/Demo.Excel.Helper/bin/Debug
/Demo.LeeFrame/Common/Demo.Excel.Helper/obj/Debug
