
@{
    ViewBag.Title = "Film"; 
} 
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <p>Film</p>
        </div>
    </div>
    <div class="panel-body">
        
    </div>
</div>

