<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DbProvider" value="mssql"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="connStr" connectionString="server=115.159.112.214;database=Leewin;uid=kangwl;pwd=abc123;" providerName="MySql.Data.MySqlClient" />-->
  <add name="ConnStr" connectionString="server=localhost;database=Leewin;uid=sa;pwd=abc123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>